html {
        font-family: "Calibri Light", sans-serif;
}

/*nav bar id*/
#nav-bar {

    column-count: 4;
    margin-left: auto;
    margin-right: auto;
}

/*row style*/
#nav-bar tr{
    line-height: 50px;
}
/*cell style*/
#nav-bar td{
    padding-left: 10px;
    height: 50px;
    background-color: lightgray;
    float: left;
    border: 1px solid black;
    font-size: 20px;
}

body {
    background-color:aliceblue;
  }
  
a{
    text-decoration:none;
    color: black;
}

#nav-bar tr td:first-child {
    width: 600px;
}

    /*project*/
#nav-bar tr td:nth-child(2) {
    text-align: center;
    width: 180px;
    font-weight: bold;
    padding-left: 0px;

}

#nav-bar tr td:nth-child(2):hover {
    cursor: pointer;
}
.dropdown{
    width: auto;
}

.dropdown-icon {
    margin-left: 5px;
}
.dropdown-content{
    display: none;
}

.dropdown-content a{
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
    background-color: lightgray;
    position: relative;
    min-width:180px;
    border-top: 1px solid black ;
    top:1px;
}
.dropdown-content a:hover {
  background-color: grey;
}

#nav-bar tr td:nth-child(3) {
    /*Product Backlog*/
    width: 300px;
}

#nav-bar tr td:nth-child(4) {
    /*Sprint*/
    width: 160px;
}

#nav-bar td:nth-child(5) {
    width: 70px;
    display: inline;
    padding-left: 0px;
    text-align: center;
}

#humanIcon{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}