{% block content %}
    <div class="panel">
{#                <div id="createBtn" onclick="createBtnOnclick()"><p>Create New Project</p></div>#}
        <div class="formWrapper">
            <a href="/projectManage/create_project/"><h1>CLICK</h1></a>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" value="Submit">
            </form>
{#            <form id="createProjectForm" action="/" method="post">#}
{#                <h2>Create new project:</h2>#}
{##}
{#                <label for="projectName">Project name:</label>#}
{#                <br>#}
{#                <input id="projectName" type="text" name="name">#}
{#                <br>#}
{#                <h3>Add team members:</h3>#}
{##}
{#                <label for="manager">Manager:</label>#}
{#                <br>#}
{#                <select id="manager"name="manager">#}
{#                <option value="volvo">m1</option>#}
{#                <option value="saab">m2</option>#}
{#                <option value="fiat">m3</option>#}
{#                <option value="audi">m4</option>#}
{#                </select>#}
{#                <br>#}
{#                <br>#}
{#                <label for="developers">Developers</label>#}
{#                <br>#}
{#                <select id="developers"name="manager">#}
{#                <option value="volvo">Volvo</option>#}
{#                <option value="saab">Saab</option>#}
{#                <option value="fiat">Fiat</option>#}
{#                <option value="audi">Audi</option>#}
{#                </select>#}
{##}
{#                <br>#}
{#                <br >#}
{#                <input type="submit" value="Create">#}
{#            </form>#}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function createBtnOnclick() {
            document.getElementById("createBtn").style.display = "none";
            document.getElementById("createList").style.display = "block";
        }
    </script>

{% endblock %}

{% block style %}
    <style>
        .panel {
            text-align:center
        }

        .formWrapper {
            border: 1px solid black;
            padding: 20px;
            background: #d5d5d5;
            margin-top: 50px;
            display: inline-block;
            text-align: left;
        }

        #createList {
            background: #79aec8;
            width: 500px;
            list-style-type: none;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            padding: 50px;
            display: block;
        }

        h1 {
            margin-top: 0px;
        }

        #createList li {
            margin-top: 30px;

        }

        #submitBtn {
            border: 1px solid black;
            width: 100px;

            background-color: rgb(148, 73, 63);
        }

        #createBtn {
            margin-top: 255px;
            margin-left: auto;
            margin-right: auto;
            background-color: rgb(148, 73, 63);
            width: 200px;
            padding-top: 10px;
            padding-left: 10px;
            font-size: 20px;
            line-height: 20px;
            height: 40px;
            border: 1px solid black;
        }

    </style>

{% endblock %}

