{% extends 'base.html' %}
{% block stylelink %}<link rel="stylesheet" type="text/css" href="/static/projectManage/noProjStyle.css">{% endblock %}

{% block content %}
    <div id="createBtn"><a href="/projectManage/createProject" >Create New Project</a></div>
{% endblock %}

<!-- {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'projectManage/noProjStyle.css' %}">
<table id="nav-bar">
    <tr>
        <td><b>BackTrack</b></td>
        <td><b><a href="/projectManage" >Project</a></b></td>
        <td><b><a href="/productBacklog">Product Backlog</a></b></td>
        <td><b><a href="/sprints">Sprint</a></b></td>
        <td><img id="humanIcon" src="{% static 'projectManage/humanIcon.png' %}"></td>
    </tr>
</table>

<div class="panel">
    <div id="createBtn"><a href="/projectManage/createProject" >Create New Project</a></div>
</div> -->

