{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'projectManage/createStyle.css' %}">
<table id="nav-bar">
    <tr>
        <td><b>BackTrack</b></td>
        <td><b><a href="/projectManage" >Project</a></b></td>
        <td><b><a href="/productBacklog">Product Backlog</a></b></td>
        <td><b><a href="/sprints">Sprint</a></b></td>
        <td><img id="humanIcon" src="{% static 'projectManage/humanIcon.png' %}"></td>
    </tr>
</table>

<div class="panel">
    <ul class="createList">
            <form action="/project-name/" method="post">
                <label for="your_name">Your name: </label>
                <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
                <input type="submit" value="OK">
            </form>
        <li><h2>Create a new Project</h2></li>
        <li><p>Project name:</p></li>
        <li><p>Invite Members:</p></li>
        <li><p>Manager:</p></li>
        <li><p>Developer:</p></li>
        <li><div id= "submitBtn">Submit</div></li>
    
    
    </ul>
</div>

