{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<table id="nav-bar">
    <tr>
        <td><b>BackTrack</b></td>
        <td><b><a href="/projectManage">Project name </a></b></td>
        <td><b><a href="/productBacklog">Product Backlog</a></b></td>
        <td><b><a href="/sprints">Sprint</a></b></td>
        <td><a href="{% url 'logout' %}?next=/login"><img id="humanIcon" src="{% static 'projectManage/humanIcon.png' %}"></a></td>
    </tr>
</table>
{% block content %}{% endblock %}

</body>
{% block script %}{% endblock %}

{% block style %}{% endblock %}
</html>
