{%load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<table id="nav-bar" style="width:1380px;margin-left:20px;">
    <tr>
        <td><b>BackTrack</b></td>
        <td><b><a href="/projectManage" >Project</a></b></td>
        <td><b><a href="/productBacklog">Product Backlog</a></b></td>
        <td><b><a href="/sprints">Sprint</a></b></td>
        <td><img id="humanIcon" src="{% static 'projectManage/humanIcon.png' %}"></td>
    </tr>
</table>

{% block content %}{% endblock %}

{% block script %}{% endblock %}

{% block style%}{% endblock %}
