{% extends 'base.html' %}
{% block content %}

<div id="outside">
    <div id="PBI_ID">PBI-ID {{pbi.id}}</div>
    <div id="Status">Status</div>
    <div id="PBI_Desc">
        <div class="title">PBI Description </div>
        
        <div id="estimatedEffort">{{pbi.estimated_efforts}} hrs</div>
        <div class="description">{{pbi.description}}</div>
    </div>

    <div id="subTaskList">
        <div class="title">Sub-Tasks</div>
        <div id="completionrate">9/10</div>
        <hr>
        <ul>
            {% for subtask in subtask_list %}
            <li>
                <span class="initEsti circle" style="float:left;"> <span style="margin-left:3px;">{{subtask.initialEstimatedEffort}}</span></span>
                <span class="remainEsti circle"style="float:left;"> <span style="margin-left:5px;">{{subtask.remaining_efforts}}</span></span>
                <div style="float:left;">{{subtask.title}}</div>
                
                <div style="float:right; ">{{subtask.status}}</div>
                <div style="float:right;" >
                    <div class="circle" onclick="pplBtnOnClick(event)"></div>
                    <div class="taskInvoleBtn" onclick="taskInvolveBtnOnClick(event)">Join</div>
                </div>
            </li>
            <hr>
            {% endfor %}
        </ul>
    
        <div>
            <div id="addBtn" onclick="addBtnOnclick()">+</div>
            <form id="subTaskForm" action="addSubtask/" method="post">
                <input type="hidden" name="pbiID" value={{pbiID}} />
                <div id="addPanel">
                    {% csrf_token %}
                    <div>Initial Estimated Effort:<input id="iee" type="text" name="initialEstimatedEffort"  ></div>
                    <div>Remained Estimated Effort:<input id="ree" type="text" name="remaining_efforts"  ></div>
                    <div>Task Name:<input id="subname" type="text" name="title" ></div>
                    <div>Status:
                        <select id="statusInput" name="status">
                            <option value="NS">Not started</option>
                            <option value="IP">In progress</option>
                            <option value="C">Complete</option>
                          </select>
                    </div>
                    <div id="okBtn" class="formBtn"><input type="Submit" value="Ok" id="ok"></div>
                    <div id="cancelBtn" class="formBtn" onclick="cancelBtnOnclick()">Cancel</div>
                </div>
            </form>
        </div>
        <hr>
        <div id="total" onload="calculate()">
            <span class="initEsti circle"></span>
            <span class="remainEsti circle"></span>
        </div>
        
        <hr>
    </div>

    

    
</div>

{% endblock %}

{% block script %}
<script>


    function addBtnOnclick(){
        document.getElementById("addPanel").style.display = "block";
    }

    // function formBtnOnclick(){
    //     document.getElementById("addPanel").style.display = "none";
    //     var iee = document.getElementById("iee").value;
    //     var ree = document.getElementById("ree").value;
    //     var name = document.getElementById("subname").value;
    //     var a = document.getElementById("dropdown");
    //     var status = a.options[a.selectedIndex].value;



    // }

    window.onload=function calculate(){
        var arr_total_efforts=document.getElementsByClassName("initEsti circle");
        var arr_remaining_efforts=document.getElementsByClassName("remainEsti circle");
        var total_efforts=0;
        var remaining_efforts=0;

        for(var i=0;i<arr_total_efforts.length-1;i++){
            total_efforts+=parseInt(arr_total_efforts[i].innerText);
            remaining_efforts+=parseInt(arr_remaining_efforts[i].innerText);
        }
        // var burndown_efforts=total_efforts-remaining_efforts;
        document.getElementById("total_efforts").innerText=total_efforts.toString();
        document.getElementById("remaining_efforts").innerText=remaining_efforts.toString();
    };

    function resetform(){
        document.getElementById("iee").value = "";
        document.getElementById("ree").value = "";
        document.getElementById("subname").value = "";
        document.getElementById("dropdown").selectedIndex = 0;

    }

    function cancelBtnOnclick(){
        document.getElementById("addPanel").style.display = "none";
        resetform();
    }

    function pplBtnOnClick(ev){
        for(i = 0; i < ev.target.parentElement.children.length;++i){
            if(ev.target.parentElement.children[i].className == "taskInvoleBtn"){
                if(ev.target.parentElement.children[i].style.display!="block"){
                    ev.target.parentElement.children[i].style.display="block";
                }else{
                    ev.target.parentElement.children[i].style.display="none";
                }

            }
        }
        ev.target.parentElement.childNodes[0].style.display="block";
    }

    function taskInvolveBtnOnClick(ev){
        var xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function(){
            if (xmlhttp.readyState == 4  && xmlhttp.status ==200){


            }
        ev.target.style.display="none";
    }
    }

</script>
{% endblock %}

{% block style %}
<style>
    #nav-bar tr td:nth-child(4) {
    background-color: lightblue;
    }


    #outside{
        width:1380px;
        height: auto;
        margin-left: 20px;
        margin-top: 10px;
    }

    #PBI_ID{
        float:left;
        width: 250px;
        height: 50px;
        font-size: 20px;
        padding-left:10px;
        margin-top:10px;
        margin-bottom: 30px;
        line-height: 50px;
        border: 1px black solid;
        font-weight: bold;
    }

    #Status{
        float:right;
        width: 250px;
        height: 50px;
        font-size: 20px;
        padding-left:10px;
        margin-top:10px;
        margin-bottom: 30px;
        line-height: 50px;
        border: 1px black solid;
        font-weight: bold;
    }

    #PBI_Desc{
        width:1380px;
        height:300px;
        overflow: auto;
        border: 1px black solid;
        margin-bottom: 30px;
    }

    .description{
        float:left;
        width:1340px;
        margin-left:15px;
    }

    .title{
        font-weight: bold;
        font-size: 20px;
        width: 200px;
        margin: 10px;
        float:left;
    }

    #estimatedEffort{
        font-size: 20px;
        float: right;
        margin:10px;
        margin-right:30px;
        padding-left:10px;
        width: 200px;
        height: 30px;
        border: 1px black solid;

    }

    #subTaskList{
        width:1380px;
        height:auto;
        margin-bottom: 30px;
    }

    #completionrate{
        float:right;
        width: 50px;
        height: 40px;
        padding-left:10px;
        padding-top: 10px;
        line-height: 30px;
        margin:10px;
        border: 1px black solid;
    }

    hr{
        margin-left:10px;
        border-top:1px solid;
        width:1380px;
    }

    .circle{
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        overflow: auto;
        margin-right:5px;
        font-style: white;
    }


    #addBtn{
        height:20px;
        float:left;
        border: 1px black solid;
        margin-left: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 20px;
        line-height: 20px;
        background-color:rgb(148, 73, 63);
    }

    ul{
        padding-inline-start: 0px;
    }

    li{
        margin-left:10px;
        list-style:none;

    }

    ul li div{
        margin-left: 5px;
        margin-right:10px;
        margin-bottom: 15px;
    }

    li .remainEsti{
        margin-left:5px;
    }

    #total{
        margin-left: 10px;
    }

    #addPanel{
        width: 400px;
        height: 200px;
        border: 1px black solid;
        position: absolute;
        overflow: auto;
        margin-left: 40px;
        background: white;
        display: none;
    }

    #addPanel div{
        padding-left:5px;
        padding-top:5px;
    }

    input{
        margin-left:5px;
    }

    #ok{
        width:100px;
        height: 30px;
        background-color:rgb(148, 73, 63);
        border:none;
        margin-left: 0px;
    }

    .formBtn{
        float: right;
        margin: 10px;
        width:100px;
        height: 30px;
        font-size: 20px;
        border: 1px black solid;
        background-color:rgb(148, 73, 63);

    }

    .taskInvoleBtn{
        margin:0px;
        width:50px;
        height:30px;
        position: absolute;
        overflow: auto;
        border: 1px black solid;
        background-color:rgb(63, 148, 115);
        line-height: 30px;
        display: none;

    }





</style>
{% endblock %}
