{% extends 'base.html' %}
{% block content %}

<div id="outside">
    <div id="PBI_ID">PBI-ID</div>
    <div id="Status">Status</div>
    <div id="PBI_Desc">
        <div class="title">PBI Description</div>
        <div id="estimatedEffort">10hrs</div>
    </div>

    <div id="subTaskList">
        <div class="title">Sub-Tasks</div>
        <div id="completionrate">9/10</div>
        <hr>
        <ul>
            <li>
                <span class="initEsti circle" style="float:left;"></span>
                <span class="remainEsti circle"style="float:left;"></span>
                <div style="float:left;">Task Name</div>
                
                <div style="float:right; ">Status</div>
                <span class="circle" style="float:right;"></span>
            </li>
        </ul>
        <hr>
        <div>
            <div id="addBtn" onclick="addBtnOnclick()">+</div>
            <form id="subTaskForm">
                <div id="addPanel">
                    <div>Initial Estimated Effort:</div>
                    <div>Remained Estimated Effort:</div>
                    <div>Task Name:</div>
                    <div>People in charge:</div>
                    <div>Status:</div>
                    <div id="okBtn" class="formBtn" onclick="formBtnOnclick()">Ok</div>
                    <div id="cancelBtn" class="formBtn" onclick="formBtnOnclick()">Cancel</div>
                </div>
            </form>
        </div>
        <hr>
        <div id="total">
            <span class="initEsti circle"></span>
            <span class="remainEsti circle"></span>
        </div>
        
        <hr>
    </div>

    

    
</div>

{% endblock %}

{% block script %}
<script>
    function addBtnOnclick(){
        document.getElementById("addPanel").style.display = "block";
    }

    function formBtnOnclick(){
        document.getElementById("addPanel").style.display = "none";
    }

</script>
{% endblock %}

{% block style %}
<style>
    #nav-bar tr td:nth-child(4) {
    background-color: lightblue;
    }


    #outside{
        width:1380px;
        height: auto;
        margin-left: 20px;
        margin-top: 10px; 
    }

    #PBI_ID{
        float:left;
        width: 250px;
        height: 50px;
        font-size: 20px;
        padding-left:10px;
        margin-top:10px;
        margin-bottom: 30px; 
        line-height: 50px;
        border: 1px black solid;
        font-weight: bold;
    }

    #Status{
        float:right;
        width: 250px;
        height: 50px;
        font-size: 20px;
        padding-left:10px;
        margin-top:10px;
        margin-bottom: 30px; 
        line-height: 50px;
        border: 1px black solid;
        font-weight: bold;
    }

    #PBI_Desc{
        width:1380px;
        height:300px;
        overflow: auto;
        border: 1px black solid;
        margin-bottom: 30px;
    }

    .title{
        font-weight: bold;
        font-size: 20px;
        width: 200px;
        margin: 10px;
        float:left;
    }

    #estimatedEffort{
        font-size: 20px;
        float: right;
        margin:10px;
        margin-right:30px; 
        padding-left:10px; 
        width: 200px;
        height: 30px;
        border: 1px black solid;
        
    }

    #subTaskList{
        width:1380px;
        height:auto;
        margin-bottom: 30px;
    }

    #completionrate{
        float:right;
        width: 50px;
        height: 40px;
        padding-left:10px;
        padding-top: 10px;
        line-height: 30px;
        margin:10px;
        border: 1px black solid;
    }

    hr{
        margin-left:10px;
        border-top:1px solid;
        width:1380px;
    }

    .circle{
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        overflow: auto;
        margin-right:5px;
    } 

    #addBtn{
        height:20px;
        float:left;
        border: 1px black solid;
        margin-left: 10px;
        margin-bottom: 10px; 
        padding-left: 5px;
        padding-right: 5px; 
        font-size: 20px;
        line-height: 20px;
        background-color:rgb(148, 73, 63);
    }

    ul{
        padding-inline-start: 10px; 
    }

    li{
        list-style:none;
        
    }

    ul li div{
        margin-left: 5px;
        margin-right:10px;
        margin-bottom: 15px; 
    }

    li .remainEsti{
        margin-left:5px;
    }

    #total{
        margin-left: 10px;
    }

    #addPanel{
        width: 400px;
        height: 200px;
        border: 1px black solid;
        position: absolute;
        overflow: auto;
        margin-left: 40px;
        background: white;
        display: none;
    }

    #addPanel div{
        padding-left:5px;
        padding-top:5px;
    }

    .formBtn{
        float: right;
        margin: 10px;
        width:100px;
        height: 30px;
        font-size: 20px;
        border: 1px black solid;
        background-color:rgb(148, 73, 63);

    }





</style>
{% endblock %}
