{% extends 'base.html' %}
{% block content %}
<div style="height: 100%;background-color:white; margin-left: 20px;margin-right: 120px" class="container">

    <div class="row">
        <h1 style="text-align: left;margin-left: 20px;margin-top:40px">Sprint Backlog Overview</h1></div>
    <div class="row"><h2 style="text-align: left;margin: 20px">Sprint {{sprint}}</h2></div>
    <div class="row" style="display: flex;">
        <div class="column" style="flex: 50%; margin-top: 10px">
            <form name="description_of_sprint" method="post">
            <textarea style="margin-left: 20px" rows="20" cols="80" title="description">Description of the current sprint</textarea>
                <!--<input type="submit" value="Submit">-->
            </form>
        </div>
        <div class="column" style="flex: 50%;margin-top: 10px">
            {% for pbi in pbi_list %}
            <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);margin-right: 30px">
                <a href="pbi{{pbi.id}}">

                <div class="container" style="padding: 2px 16px;">
                <h4><b>{{pbi.description}}</b></h4>
                <p>{{pbi.status}}</p>
                </div>
                </a>

            </div>
            {%empty%}
            <div>No PBI yet.</div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
<style>
    #nav-bar tr td:nth-child(4) {
    background-color: lightblue;
    }

</style>
{% endblock %}
