{% extends 'base.html' %}
{% block content %}

<div id="outside">
    <div id="PBI_ID">PBI-ID {{pbi.id}}</div>
    <div id="Status">
    </div>
    <div id="PBI_Desc">
        <div class="title">PBI Description </div>
        
        <div id="estimatedEffort">{{pbi.estimated_efforts}} hrs</div>
        <div class="description">{{pbi.description}}</div>
    </div>

    <div id="subTaskList">
        <div class="title">Sub-Tasks</div>
        <div id="completionrate"></div>
        <hr>
        <ul>
            {% for subtask in subtask_list %}
            <li>
                <div class="delbtn" onclick="delBtnOnClick(event)" rel="{{subtask.id}}">-</div>
                <span class="initEsti circle" style="float:left; text-align: center"> <span style="margin-left:3px;">{{subtask.initialEstimatedEffort}}</span></span>
                <span class="remainEsti circle" style="float:left; text-align: center" onclick="remainBtnOnlick(event)"  > 
                    <span style="margin-left:5px;" >{{subtask.remaining_efforts}}</span>
                    <form action="changeremain/" method="POST" class="remainform">
                        {%csrf_token%}
                        <input type="text" name="remain" size="5" style="float:left;">
                        <input type="hidden" name="id" value="{{subtask.id}}" >
                        <input id="pbiID" type="hidden" name="pbiID" value={{pbiID}} />
                        <button style="font-size:12px;border-radius: 5px;border: 0 none; background-color: #bbccdd" type="submit" >OK</button>
                    </form>
                </span>
                <div style="float:left;">{{subtask.title}}</div>
                
                <div class="rightofsubtask" style="float:right; margin:0px;" >
                    {% for developer in subtask.Developers.all%}
                    <div class="developerName" style="float:left;">{{developer}}</div>
                    {%endfor%}
                    <div  style="float:left;">
                        <div class="circle" onclick="pplBtnOnClick(event)"></div>
                        {% csrf_token %}
                        <div class="taskInvoleBtn" onclick="taskInvolveBtnOnClick(event)" rel="{{subtask.id}}" >{%if user.Developer in subtask.Developers.all%}Quit{%else%}Join{%endif%}</div>
                    </div>
                    <div style="width:30px;float: right;">
                        <div onclick="substatOnclick(event)" rel="{{subtask.id}}" data-init="{{subtask.initialEstimatedEffort}}" data-remain="{{subtask.remaining_efforts}}">{{subtask.status}}</div>
                        <div style="width:30px; float: right; overflow : auto;" class="mydropdown">
                        </div>
                    </div>
                    <!-- <div style="width:30px; float: right;" onclick="substatOnclick(event)" rel="{{subtask.id}}">{{subtask.status}}</div> -->
                        
                </div>
            </li>
            <hr>
            {% endfor %}
        </ul>
    
        <div>
            <div id="addBtn" onclick="addBtnOnclick()">+</div>
            <form id="subTaskForm" action="addSubtask/" method="post">
                <input id="pbiID" type="hidden" name="pbiID" value={{pbiID}} />
                <div id="addPanel">
                    {% csrf_token %}
                    <div>Initial Estimated Effort:<input id="iee" type="text" name="initialEstimatedEffort"  ></div>
                    <!-- <div>Remained Estimated Effort:<input id="ree" type="text" name="remaining_efforts"  ></div> -->
                    <div>Task Name:<input id="subname" type="text" name="title" ></div>
                    <input type="hidden" name="status" value="NS" />
                    <!-- <div>Status:
                        <select id="statusInput" name="status">
                            <option value="NS">Not started</option>
                            <option value="IP">In progress</option>
                            <option value="C">Complete</option>
                          </select>
                    </div> -->
                    <div id="okBtn" class="formBtn"><input type="Submit" value="Ok" id="ok"></div>
                    <div id="cancelBtn" class="formBtn" onclick="cancelBtnOnclick()">Cancel</div>
                </div>
            </form>
        </div>
        <hr>
        <div id="total" onload="calculate();">
            <span class="initEsti circle" id="total_efforts" style="text-align: center"></span>
            <span class="remainEsti circle" id="remaining_efforts" style="text-align: center"></span>
        </div>

        <hr>
    </div>




</div>

{% endblock %}

{% block script %}
<script>


    function addBtnOnclick(){
        document.getElementById("addPanel").style.display = "block";
    }

    function remainBtnOnlick(ev){
        var remainform = ev.target.parentElement.children[1];
        if (remainform.style.display == "block") remainform.style.display = "none" ;
        else remainform.style.display = "block";
    }

    // function formBtnOnclick(){
    //     document.getElementById("addPanel").style.display = "none";
    //     var iee = document.getElementById("iee").value;
    //     var ree = document.getElementById("ree").value;
    //     var name = document.getElementById("subname").value;
    //     var a = document.getElementById("dropdown");
    //     var status = a.options[a.selectedIndex].value;



    // }

    // function addBtnOnclick(ev){
    //     ev.target.children[0].style.display = "block";
    // }

    function substatOnclick(ev){
        var dropdown = ev.target.parentElement.children[1];
        if (dropdown.children.length!==0) {
            dropdown.innerHTML="";
            return;
        }

        
        var statusList = ["IP","C"];
        for (i = 0; i < statusList.length; ++i){
            if(i===1 && ev.target.getAttribute("data-remain")!==0){
                console.log('1:'+ev.target.getAttribute("data-remain"));
                break;
            }
            if (statusList[i] !== ev.target.innerText){
                var ele = document.createElement("div");
                ele.className = "statusOpt";
                ele.innerHTML = statusList[i];
                ele.onclick=function(){
                    changeSubTask(event);
                };
                ele.setAttribute("rel", ev.target.getAttribute("rel"));
                console.log(ele.getAttribute("rel"));
                dropdown.appendChild(ele);
            }
                       
        }

    }

    function changeSubTask(ev){
        var id = ev.target.getAttribute("rel");
        var status = ev.target.innerText;
        console.log(id+" "+status);
        var xmlhttp = new XMLHttpRequest();
        var csrfmiddlewaretoken = "{{csrf_token}}";

        ev.target.parentElement.innerHTML="";
        
        xmlhttp.open("POST","changesubtask/",true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send("id="+id+"&status="+status+"&csrfmiddlewaretoken="+csrfmiddlewaretoken);
        location.reload();
    }

    window.onload=function calculate(){
        var arr_total_efforts=document.getElementsByClassName("initEsti circle");
        var arr_remaining_efforts=document.getElementsByClassName("remainEsti circle");
        var total_efforts=0;
        var remaining_efforts=0;

        for(var i=0;i<arr_total_efforts.length-1;i++){
            total_efforts+=parseInt(arr_total_efforts[i].innerText);
            remaining_efforts+=parseInt(arr_remaining_efforts[i].innerText);
        }
        var burndown_efforts=total_efforts-remaining_efforts;
        document.getElementById("total_efforts").innerText=total_efforts.toString();
        document.getElementById("completionrate").innerText=burndown_efforts.toString()+"/"+total_efforts.toString();
        document.getElementById("remaining_efforts").innerText=remaining_efforts.toString();
        document.getElementById("Status").innerText=remaining_efforts===0?"Complete":"In progress";


    };


    function resetform(){
        document.getElementById("iee").value = "";
        document.getElementById("ree").value = "";
        document.getElementById("subname").value = "";
        document.getElementById("dropdown").selectedIndex = 0;

    }

    function cancelBtnOnclick(){
        document.getElementById("addPanel").style.display = "none";
        resetform();
    }


    function pplBtnOnClick(ev){
        for(i = 0; i < ev.target.parentElement.children.length;++i){
            if(ev.target.parentElement.children[i].className === "taskInvoleBtn"){
                if(ev.target.parentElement.children[i].style.display!=="block"){
                    ev.target.parentElement.children[i].style.display="block";
                }else{
                    ev.target.parentElement.children[i].style.display="none";
                }

            }
        }
        //ev.target.parentElement.childNodes[0].style.display="block";
    }

    function taskInvolveBtnOnClick(ev){
        var id = ev.target.getAttribute("rel");
        console.log(id);
        var userId = "{{user.id}}";
        var type = ev.target.innerText;
        var pbiId = parseInt(document.getElementById("pbiID").value);
        var xmlhttp = new XMLHttpRequest();
        var csrfmiddlewaretoken = "{{csrf_token}}";

        ev.target.style.display="none";
        
        xmlhttp.open("POST","managePpl/",true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send("id="+id+"&type="+type+"&userId="+userId+"&pbiID="+pbiId+"&csrfmiddlewaretoken="+csrfmiddlewaretoken);
        location.reload();

    }

    function delBtnOnClick(ev){
        var id = ev.target.getAttribute("rel");
        var xmlhttp = new XMLHttpRequest();
        var csrfmiddlewaretoken = "{{csrf_token}}";

        ev.target.style.display="none";
        
        xmlhttp.open("POST","delsub/",true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send("id="+id+"&csrfmiddlewaretoken="+csrfmiddlewaretoken);
        location.reload();

    }

</script>
{% endblock %}

{% block style %}
<style>
    #nav-bar tr td:nth-child(4) {
    background-color: lightblue;
    }


    #outside{
        width:1380px;
        height: auto;
        margin-left: 20px;
        margin-top: 10px;
    }

    #PBI_ID{
        float:left;
        width: 250px;
        height: 50px;
        font-size: 20px;
        padding-left:10px;
        margin-top:10px;
        margin-bottom: 30px;
        line-height: 50px;
        border: 1px black solid;
        font-weight: bold;
    }

    #Status{
        float:right;
        width: 250px;
        height: 50px;
        font-size: 20px;
        padding-left:10px;
        margin-top:10px;
        margin-bottom: 30px;
        line-height: 50px;
        border: 1px black solid;
        font-weight: bold;
    }

    #PBI_Desc{
        width:1380px;
        height:300px;
        overflow: auto;
        border: 1px black solid;
        margin-bottom: 30px;
    }

    .description{
        float:left;
        width:1340px;
        margin-left:15px;
    }

    .title{
        font-weight: bold;
        font-size: 20px;
        width: 200px;
        margin: 10px;
        float:left;
    }

    #estimatedEffort{
        font-size: 20px;
        float: right;
        margin:10px;
        margin-right:30px;
        padding-left:10px;
        width: 200px;
        height: 30px;
        border: 1px black solid;

    }

    #subTaskList{
        width:1380px;
        height:auto;
        margin-bottom: 30px;
    }

    #completionrate{
        float:right;
        width: 50px;
        height: 40px;
        padding-left:10px;
        padding-top: 10px;
        line-height: 30px;
        margin:10px;
        border: 1px black solid;
    }

    hr{
        margin-left:10px;
        border-top:1px solid;
        width:1380px;
    }

    .circle{
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        overflow: auto;
        margin-right:5px;
        font-style: white;
    }


    #addBtn{
        height:20px;
        float:left;
        border: 1px black solid;
        margin-left: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 20px;
        line-height: 20px;
        background-color:rgb(189, 27, 6);
    }

    .delBtn{
        height:20px;
        float:left;
        border: 1px black solid;
        margin-left: 0px;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 20px;
        line-height: 20px;
        background-color:rgb(10, 238, 10);
    }

    ul{
        padding-inline-start: 0px;
    }

    li{
        margin-left:10px;
        list-style:none;

    }

    ul li div{
        margin-left: 5px;
        margin-right:10px;
        margin-top:7px;
        margin-bottom: 7px;
    }

    li .remainEsti{
        margin-left:5px;
    }

    #total{
        margin-left: 45px;
    }

    #addPanel{
        width: 400px;
        height: 200px;
        border: 1px black solid;
        position: absolute;
        overflow: auto;
        margin-left: 40px;
        background: white;
        display: none;
    }

    #addPanel div{
        padding-left:5px;
        padding-top:5px;
    }

    input{
        margin-left:5px;
    }

    #ok{
        width:100px;
        height: 30px;
        background-color:rgb(189, 27, 6);
        border:none;
        margin-left: 0px;
    }

    .formBtn{
        float: right;
        margin: 10px;
        width:100px;
        height: 30px;
        font-size: 20px;
        border: 1px black solid;
        background-color:rgb(189, 27, 6);

    }

    .developerName{
        float: right;
        border: 1px black solid;
        width: 50px;
        background: lightgrey;
    }

    .taskInvoleBtn{
        margin:0px;
        width:50px;
        height:30px;
        position: absolute;
        overflow: auto;
        border: 1px black solid;
        background-color:rgb(63, 148, 115);
        line-height: 30px;
        display: none;

    }

    .remainform{
        margin:0px;
        width:100px;
        height:30px;
        position: absolute;
        overflow: auto;
        border: 1px black solid;
        line-height: 30px;
        display: none;
        background: white;
    }

    .mydropdown{
        position: absolute;
        overflow: auto;
    }

    .statusOpt{
        background: lightgrey;
        width:28px;
        border: 1px black solid;
        margin: 0px;
    }





</style>
{% endblock %}
