{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'productBacklog/style.css' %}">
<table id="nav-bar">
    <tr>
        <td><b>BackTrack</b></td>
        <td><b><a href="/projectManage" >Project</a></b></td></a>
        <td><b><a href="/productBacklog">Product Backlog</a></b></td>
        <td><b><a href="/sprints">Sprint</a></b></td>
        <td><img id="humanIcon" src="{% static 'productBacklog/humanIcon.png' %}"></td>
    </tr>
</table>
{% endblock %}